* {
  padding: 0;
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
body {
  background-image: url(../img/bgwhite.jpeg);
}
/* NAVBAR */
li {
  list-style: none;
  color: white;
  font-size: 60%;
}

a,
a:visited {
  color: rgb(255, 255, 255);
  text-decoration: none;
  text-transform: uppercase;
}

a:hover {
  color: white;
}

nav {
  background: #000000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 7px;
  font-size: calc(0.5rem + 1.5vw);
}
nav h3 {
  color: pink;
}
nav ul {
  display: flex;
  justify-content: space-between;
  width: 50%;
}
#icons {
  cursor: pointer;
  color: white;
  display: none;
}

/* main */

h1 {
  margin-top: 5%;
  text-align: center;
  text-transform: uppercase;
}
.title-container {
  text-align: center;
  width: 80%;
  margin: auto;
}
.presentation-container {
  margin-top: 50px;
  display: flex;
  gap: 30px;
  padding: 30px;
}

.presentation-container article {
  border: 3px solid rgb(14, 99, 209);
  text-align: center;
  padding: 10px;
  flex: 1;
}
.profil-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.image-left {
  width: 70%;
  margin-left: 13%;
}
.profil-container h2 {
  margin-top: 10px;
  margin-bottom: 5px;
  text-align: center;
  text-transform: uppercase;
  font-size: 33px;
}
.profil-container p {
  text-align: center;
  line-height: 1.5;
  margin-right: 25px;
}

.art-profil {
  display: flex;
}

.art-profil div {
  flex: 1;
  justify-content: space-around;
}

.lg-container {
  margin-top: 50px;
  display: flex;
  gap: 30px;
  padding: 30px;
  margin-left: 30px;
}

.langage-container img {
  width: 80%;
}

footer {
  clear: both;
  text-align: center;
  background-color: #f0f0f0;
  padding: 10px;
  width: 100%;
  clear: both;
}

footer p {
  font-size: 0.8em;
  color: #2f2f2f;
}

@media (max-width: 768px) {
  #icons {
    display: block;
  }
  #icons:before {
    content: "\2630";
  }
  .active #icons:before {
    content: "\2715";
  }

  nav ul {
    position: fixed;
    font-size: 25px;
    left: -100%;
    top: 5%;
    flex-direction: column;
    background: #3067d4;
    width: 100%;
    text-align: center;
    transition: 0, 5s;
  }
  nav li {
    padding: 3px 0;
  }
  nav li:hover {
    background: #252525;
  }
  nav.active ul {
    left: 0;
  }
  .presentation-container {
    flex-direction: column;
  }
  .profil-container p {
    flex-direction: column;
  }
  .art-profil {
    flex-direction: column;
  }
  .fruit-title h2 {
    margin-top: auto;
    font-size: 25px;
  }
}
