* {
  padding: 0;
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

li {
  list-style: none;
  color: white;
  font-size: 60%;
}

a,
a:visited {
  color: rgb(255, 255, 255);
  text-decoration: none;
  text-transform: uppercase;
}

a:hover {
  color: white;
}

nav {
  background: #000000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 7px;
  font-size: calc(0.5rem + 1.5vw);
}
nav h3 {
  color: pink;
}
nav ul {
  display: flex;
  justify-content: space-between;
  width: 50%;
}
#icons {
  cursor: pointer;
  color: white;
  display: none;
}
h1 {
  font-size: 50px;
}
.csstitle {
  text-transform: uppercase;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}
.container-title {
  display: flex;
  margin-bottom: 20px;
}
.left {
  width: 50%;
  padding: 2rem;
  margin: auto;
  display: flex;
}
.right {
  width: 50%;
  font-size: 17px;
  margin: auto;
  line-height: 2;
  text-align: center;
}

.hero-container {
  display: flex;
  margin-top: 30px;
  margin-bottom: 30px;
}

.hero-right {
  margin: auto;
  width: 50%;
  font-size: 20px;
  text-align: center;
  line-height: 3;
}
.hero-right img {
  width: 40%;
}
.hero-left {
  margin: auto;
  width: 50%;
  line-height: 2;
  text-align: center;
}
.hero-left img {
  margin-left: 20px;
  width: 80%;
}

footer {
  clear: both;
  text-align: center;
  background-color: #f0f0f0;
  padding: 10px;
  width: 100%;
  clear: both;
}

footer p {
  font-size: 0.8em;
  color: #2f2f2f;
}
@media (max-width: 768px) {
  #icons {
    display: block;
  }
  #icons:before {
    content: "\2630";
  }
  .active #icons:before {
    content: "\2715";
  }

  nav ul {
    position: fixed;
    font-size: 25px;
    left: -100%;
    top: 5%;
    flex-direction: column;
    background: #3067d4;
    width: 100%;
    text-align: center;
    transition: 0, 5s;
  }
  nav li {
    padding: 3px 0;
  }
  nav li:hover {
    background: #252525;
  }
  nav.active ul {
    left: 0;
  }
  .csstitle {
    width: auto;
    flex-direction: column;
  }
  .container-title {
    flex-direction: column;
    font-size: 20px;
  }
  .container-title img {
    width: 100%;
  }
  .hero-container {
    flex-direction: column;
  }
}
